body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #313131;
}

ol, ul {
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
}

li {
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    color: #646464;
}

h2 {
  color: #CCCCCC;
  text-shadow: 0 0 2px #0050B2;
  box-shadow: 0px 1px 0px 0px white;
  border-bottom: 3px solid #605B60;
  border-radius: 5%;
}

h3 {
  color: #79C7EC;
  text-shadow: 0 0 2px #0050B2;
}

h4 {
  color: #94CEC7;
  font-size: 20px;
  text-shadow: 1px -1px 2px #627C7A;
}

.tabletitle {
  width:540px;
  background: #4A494A;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
  border-radius: 2%;
  box-shadow:0px 0px 3px 3px #94865A;
}

.dotoff {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px grey;
}

.doton {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  color: #79C7EC;
  text-shadow: 1px 1px #0050B2;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #0099FF;
}

.dotspoff {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #4C4D4C;
}

.dotspon {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  text-shadow: 1px 1px #0099FF;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #79C7EC;
}

.logo-row {
  float: right;
}
.mneme-on {
  background:#0099FF;
  box-shadow:0px 0px 2px 2px #79C7EC;

}

.mneme-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #79C7EC;
}

.logos-on {
  background:#0099FF;
  box-shadow:0px 0px 2px 2px #79C7EC;
  display: block;
}

.logos-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #79C7EC;

  clear: right;
}

.nums {

}

.status {
  border: 100px solid black;

}

table {
  border-collapse: collapse;
  border-radius: 1%;
}

.square {
  background: #4A494A;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  border-radius: 25%;
  padding: 0px;
  text-align: center;
  width: 50px;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
