body {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #313131;

}

p {
  color: white;
}

p.title{
  color: black;
  white-space: pre-line;
}

ol, ul {
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 30px;
}

li {
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    color: #646464;
}

h2 {
  color: #CCCCCC;
  text-shadow: 0 0 2px #0050B2;
  box-shadow: 0px 1px 0px 0px white;
  border-bottom: 3px solid #605B60;
  border-radius: 5%;
}

h3 {
  color: #79C7EC;
  text-shadow: 0 0 2px #0050B2;
}

h4 {
  color: #94CEC7;
  font-size: 20px;
  text-shadow: 1px -1px 2px #627C7A;
}

p.desc {
  color: white;
}

.popup {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;

  top: 25%;

  margin: auto;
}

.row {
  margin-top: 5px;
}

.lng {
  font-size: 12px;
}
#header-content {

	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
  margin: 15px;
}

.info-box {
  background: #282C34;
  margin-top: 15px;
}

.table-sm {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

.tabletitle {
  margin-top: 15px;
  margin-bottom: 15px;
}

.tabletitle_m {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-x: scroll;
}

.Collapsible {
  width: 100%;
}

.Collapsible__trigger {
  display: block;
  color: #94CEC7;
  text-shadow: 1px -1px 2px #627C7A;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #282C34;
  color: white;
}

.Collapsible__trigger:after {
  font-family: 'FontAwesome';
  content: '\f107';
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  transition: transform 300ms;
}
.Collapsible__trigger.is-open:after {
  transform: rotateZ(180deg); }
.Collapsible__trigger.is-disabled {
  opacity: 0.5;
  background-color: grey; }

.dotoff {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px grey;
}

.doton {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  color: #79C7EC;
  text-shadow: 1px 1px #0050B2;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #0099FF;
}

.dotspoff {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #4C4D4C;
}

.dotspon {
  height: 25px;
  width: 30px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #FFFFFF;
  text-shadow: 1px 1px #0099FF;
  border-radius: 50%;
  background: #313031;
  box-shadow:0px 0px 2px 2px #79C7EC;
}

.logo-row {

}

.tbody {
  width:100%;
  table-layout: auto;
  border-radius: 20%;
  background: white;
}

.logos-table {
  table-layout: auto;
  border-radius: 20%;
  background: white;
}


.Conceptual-on {
  background:#A52175;
  box-shadow:0px 0px 2px 2px #490E35;
  width:12%;
}

.Fundamental-on {
  background:#FF6A00;
  box-shadow:0px 0px 2px 2px #AD4500;
width:12%;
}

.Offensive-on {
  background:#D02519;
  box-shadow:0px 0px 2px 2px #932117;
width:12%;
}

.Protective-on {
  background:#0C42C2;
  box-shadow:0px 0px 2px 2px #1351B5;
width:12%;
}

.Curative-on {
  background:#0EBC00;
  box-shadow:0px 0px 2px 2px #003A00;
width:12%;
}

.Tactical-on {
  background:#DDB90E;
  box-shadow:0px 0px 2px 2px #6E3100;
width:12%;
}

.Inimical-on {
  background:#8B3EAF;
  box-shadow:0px 0px 2px 2px #78369D;
width:12%;
}

.Mitigative-on {
  background:#1E9EB0;
  box-shadow:0px 0px 2px 2px #013145;
width:12%;
}

.Conceptual-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #490E35;

}

.Fundamental-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #AD4500;

}

.Offensive-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #932117;

}

.Protective-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #1351B5;

}

.Curative-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #003A00;

}

.Tactical-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #6E3100;

}

.Inimical-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #78369D;

}

.Mitigative-off {
  background:#4C4D4C;
  box-shadow:0px 0px 2px 2px #013145;

}


.nums {

}

.status {
  border: 100px solid black;

}



.square {
  background: #4A494A;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  border-radius: 25%;
  padding: 0px;
  text-align: center;
  width: 50px;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.me {
  background: #908478;
  border-radius: 2%;
  box-shadow:0px 0px 3px 3px #94865A;
}

.mo {
  background: #BBBBB1;
  border-radius: 2%;
  box-shadow:0px 0px 3px 3px #94865A;
}

.info-box {
  background: white;
  border-radius: 2%;
  box-shadow:0px 0px 3px 3px #94865A;
}

.footer {
  position:relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: black;
  z-index: -1;
}

.spinner {

  float: right;
}

.spinner input {
  text-align: right;
  height: 34px;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

span {
  font-size: 14px;
}
